{% extends 'base.html' %}

{% load custom %}

{% block page-container %}
    <div class="wrap-left">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{ article_form }}
            <input type="submit" class="btn btn-success pull-right" value="发帖">
        </form>

        <form method="post" enctype="multipart/form-data" action="{%  url 'file_upload' %}">
            <input name="filename" type="file"> {% csrf_token %}
            <input type="submit" value="上传">
        </form>
    </div>
    <div class="wrap-right">
        right
    </div>
    <div class="clear-both"></div>
{% endblock %}

{% block bottom-js %}
    <script src="/statics/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('id_content')

    </script>
{% endblock %}







